<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyquen.miniprogramserver.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.cyquen.miniprogramserver.model.Blog">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="desc_" jdbcType="VARCHAR" property="desc"/>
    </resultMap>

    <select id="findBlogList" resultMap="BaseResultMap" resultType="list">
        select *
        from blog
    </select>

</mapper>